layout {
    pane_template name="tbh-borderless" borderless=true
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane {
                name "Bandwhich"
                command "sudo"
                args "/home/tombh/.nix-profile/bin/bandwhich"
            }
            pane {
                name "Borgmatic"
                command "~/bin/tbx"
                args "watch_borgmatic_latest_diff"
            }
        }
        pane {
            pane {
                name "DNF Updates"
                command "~/bin/tbx"
                args "watch_dnf_available_updates"
            }
            pane split_direction="vertical" {
                pane {
                    name "Nix Updates"
                    command "~/bin/tbx"
                    args "watch_nix_available_updates"
                }
                pane {
                    name "Cargo Updates"
                    command "~/bin/tbx"
                    args "watch_cargo_available_updates"
                }
            }
            pane {
                name "Syncthing"
                command "watch"
                args "stc"
            }
        }
    }
    pane split_direction="vertical" size="30%" {
        tbh-borderless command="btm"
        tbh-borderless command="htop"
    }
}

pane_frames true
